<%- include('../partials/header') %>

    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title mb-3 text-center">Forgot Password</h3>
                    <form action="/auth/forgot" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <button class="btn btn-warning w-100">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>