<%- include('../partials/header') %>

    <h2 class="mb-4">Thêm nhà cung cấp mới</h2>

    <form action="/suppliers" method="POST">
        <div class="mb-3">
            <label class="form-label">Tên nhà cung cấp</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Địa chỉ</label>
            <input type="text" name="address" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" name="phone" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Thêm</button>
        <a href="/suppliers" class="btn btn-secondary">Hủy</a>
    </form>

    <%- include('../partials/footer') %>